$border-color: rgba(255, 255, 255, 0.1);

.app-container{
    height: 100%;
    width: 100%;
    background-image: url('src/assets/eiffel tower.jpg');
    background-size: 100% 100%;

    display: grid;
    grid-template-rows: [row-header-start] 50px [row-content-start] auto;
    grid-template-columns: [col-left-start]15% [col-content-start] auto [col-content-end col-right-start] 15%;
    grid-template-areas: 
        "header header header"
        "content-pad-left content-center content-pad-right";
}

.header-border{
    grid-area: header;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: $border-color;
}

.header-menu{
    grid-area: row-header-start / col-content-start / row-content-start/ col-content-end ;
    display: grid;
    grid-template-columns: 35% auto 35%;
    grid-template-rows: 100%;
}

.header-menu-btn-group{
    height: 100%;
    display: flex;
    flex-direction: row;
}

.header-menu-btn{
    height: 100%;
    color: white;
    text-transform: uppercase;
    border-radius: 0px;   
}

.border-right{
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: $border-color;
}
