<div class="app-container">
  <div class="header-menu">
    <div class="header-menu-btn-group">
      <button mat-button class="header-menu-btn border-right">Home</button>
      <button mat-button class="header-menu-btn border-right">Faqs</button>
      <button mat-button class="header-menu-btn border-right">Contact</button>
      <button mat-button class="header-menu-btn">USD</button>
    </div>

    <div></div>

    <div class="header-menu-btn-group">
      <button mat-button class="header-menu-btn">
        <i class="fa fa-facebook"></i>
      </button>
      <button mat-button class="header-menu-btn">
        <i class="fa fa-twitter"></i>
      </button>
      <button mat-button class="header-menu-btn">
        <i class="fa fa-pinterest-p"></i>
      </button>
      <button mat-button class="header-menu-btn">
        <i class="fa fa-phone"></i>
      </button>
      <button mat-button class="header-menu-btn">
        <i class="fa fa-envelope"></i>
      </button>
    </div>

  </div>
  <div class="header-border"></div>

  <div class="content-container">
    <div class="sub-header">
      <div>
        <span class="sub-heading">canvas</span>
      </div>
      <div class="header-menu-btn-group">
        <button mat-button class="header-menu-btn">
          <i class="fa fa-home"></i>
          <span>Home</span>
        </button>
        <button mat-button class="header-menu-btn">
          <i class="fa fa-plane"></i>
          <span>Flights</span>
        </button>
        <button mat-button class="header-menu-btn">
          <i class="fa fa-building"></i>
          <span>Hotels</span>
        </button>
        <button mat-button class="header-menu-btn">
          <i class="fa fa-gift"></i>
          <span>Holidays</span>
        </button>
        <button mat-button class="header-menu-btn">
          <i class="fa fa-pencil"></i>
          <span>Blog</span>
        </button>
        <button mat-button class="header-menu-btn">
          <i class="fa fa-phone"></i>
          <span>1800 105 2541</span>
        </button>
      </div>
    </div>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>

</div>